Martin Kronbichler <martin.kronbichler@uni-a.de>
Martin Kronbichler <martin.kronbichler@uni-a.de> <kronbichler@lnm.mw.tum.de>
Matthias Maier     <tamiko@43-1.org>             <maier@math.tamu.edu>
Ignacio Tomas      <nachotet@gmail.com>
Ignacio Tomas      <nachotet@gmail.com>          <itomas@tamu.edu>
Eric Tovar         <ejtovar1@gmail.com>
Eric Tovar         <ejtovar1@gmail.com>          <ejtovar@math.tamu.edu>
Eric Tovar         <ejtovar1@gmail.com>          <36754207+ejtovar@users.noreply.github.com>
